/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 13, 2017, 9:39:27 PM
    Author     : fabio
*/

body{
    background-color: #fffff0;
}

.ibnav{
    margin-bottom: 50px;
}

.ibnavl{
    float: left;
}

.ibnavr{
    float: right;
}

.novo-post-form-item{
    margin: 15px;
}

.assunto{
    color: #761c19
}

.fio{
    padding: 20px;
}

.fio-subpost{
    padding: 10px;
    background-color: #e8fdfc;
    margin: 5px;
    border-radius: 20px;
    
}

.fio-divisor{
    border: 1px solid #000;
}


.fio-img-div img{
    display: block;
}

.fio-img-div{
    display: inline-block;
    background-color: #c8dddc;
    border-radius: 10px;
    border: 1px dashed #c8dddc;
}

.a-nro-post:hover{
    cursor: pointer;
}

.green-text{
    color: #0f9e27;
    
}

.board-header{
    font-weight: bold;
}

.modpost{
    font-weight: bold;
    color: #ff0600;
    display: inline;
    
}

.ban-msg{
    color: #ff0000;
    font-weight: bold;
    font-size: 19px;
}

.div-indice{
    font-size: 17px;
    background-color: #e8fdfc;
    border-radius: 25px;
    border: 1px dashed #c8dddc;
    
}

.bitcoin-symbol{
    font-size: 11px;
    color: #ff6e00;
    
}

#admin-buttons li{
    list-style-type: none;
    padding: 3px;
}

.footer-text{
    font-size: 10px;
}

.catalogo-post-div{
    display: inline-table; 
    margin: 5px; 
    border: 2px solid black; 
    width: 170px;
    height: 200px;
}

.anonpost-title{
    font-weight: bold; 
    color: #006600; 
    font-size: 18px;
}

.mini-btn{
    border-radius: 6px;
    background-color: #b8cdcc;
    color: #006600;
    border-bottom-style: solid;
    padding: 2px;
    font-weight:bold;
    
}
.mini-btn:hover{
    cursor: pointer;
    text-decoration:none;
}

.form-post-file-input-box{
    font-size: 15px;
    background-color: #e8fdfc;
    border-radius: 10px;
    border: 1px dashed #c8dddc;
    margin-bottom: 10px;
}

.paginador{
    font-size: 16px;
}

.noticia-data{
    float: right;
}