/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 13, 2017, 9:39:27 PM
    Author     : fabio
*/

body{
    background-color: #fffff0;
}

.ibnav{
    margin-bottom: 50px;
}

.ibnavl{
    float: left;
}

.ibnavr{
    float: right;
}

.novo-post-form-item{
    margin: 15px;
}

.assunto{
    color: #761c19
}

.fio{
    padding: 20px;
}

.fio-subpost{
    padding: 10px;
    background-color: #e8fdfc;
    margin: 5px;
    
}

.fio-divisor{
    border: 1px solid #000;
}


.fio-img-div img{
    display: block;
}

.fio-img-div{
    display: inline-block;
}

.a-nro-post:hover{
    cursor: pointer;
}
